ul.tabs {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
}

ul.tabs li {
    flex: 1;
    text-align: center;
    padding: 10px;
    background-color: #f2f2f2;
    cursor: pointer;
}

ul.subtabs {
    display: none;
    list-style-type: none;
    padding: 0;
    margin-top: 10px;
}

ul.subtabs.active {
    display: block;
}

ul.subtabs li {
    margin: 5px;
}

.tabs {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


ul.tabs2 {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
}

ul.tabs2 li {
    flex: 1;
    text-align: center;
    padding: 10px;
    background-color: #f2f2f2;
    cursor: pointer;
}

ul.subtabs2 {
    display: none;
    list-style-type: none;
    padding: 0;
    margin-top: 10px;
}

ul.subtabs2.active {
    display: block;
}

ul.subtabs2 li {
    margin: 5px;
}

.tabs2 {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Style pour les onglets au survol */
.tab2:hover {
    background-color: lightgray;
    cursor: pointer;
}

/* Style pour les onglets actifs */
.tab2.active {
    background-color: darkgray;
    color: white;
}

/* Style pour les onglets au survol */
.tab:hover {
    background-color: lightgray;
    cursor: pointer;
}

/* Style pour les onglets actifs */
.tab.active {
    background-color: darkgray;
    color: white;
}

.subtabs-container {
    display: flex; /* Utilise flexbox pour aligner les conteneurs horizontalement */
    justify-content: center; /* Centre les conteneurs horizontalement */
}

.subtabs-container2 {
    display: flex; /* Utilise flexbox pour aligner les conteneurs horizontalement */
    justify-content: right; /* Centre les conteneurs horizontalement */
}

.pdfs {
    border: none;
    aspect-ratio: 70/99;
}

/* Media query pour ajuster les marges entre 993px et 1200px */
@media (min-width: 993px) and (max-width: 1200px) {
    .titlecours {
        font-size: 40px
    }
}

.roww {
    display: flex;
    align-items: flex-start; /* Aligne les divs en bas */
}
